body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  

  
  nav {
    background-color: #d00c0c;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #e2ea01;
    text-decoration: none;
  }
  
  header {
    
    background-size: cover;
    color: #0602f0;
    text-align: center;
    padding: 100px 0;
  }
  
  .featured-cars {
    padding: 50px;
  }
  .featured-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: red;
  }
  
  .car {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .car img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .car h3 {
    margin-top: 10px;
    color: orangered;
  }
  
  .car p {
    font-weight: bold;
    color: orangered;
  }
  
  
  footer {
    background-color: #d00c0c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  footer p {
    margin: 0;
  }
  